@import url(http://fonts.googleapis.com/css?family=Cardo);

body {
  margin: 0;
}

.logo {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  font-family: 'Cardo', serif;
}


.upload {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 25%;
  left: 50%;
  height: 100px;
  width: 500px;
  margin-left: -250px;
  margin-top: -50px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1px;
}


.choose {
  position: relative;
  background-color: #E75D5D;
  width: 200px;
  padding: 20px;
  float: left;
}


.choose [type=file] {
  display: block;
  visibility: hidden;
}


.send {
  position: relative;
  float: right;
  background-color: blue;
  width: 200px;
  padding: 20px;
}

.send [type=submit] {
  display: block;
  visibility: hidden;
}
