@import url(http://fonts.googleapis.com/css?family=Cardo);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);


body {
  margin: 0;
}

#logo {
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

#logo h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 15px;
  font-family: 'Cardo', serif;
}

.upload {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 25%;
  left: 50%;
  height: 100px;
  width: 500px;
  margin-left: -250px;
  margin-top: -50px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  font-size: 24px;
  letter-spacing: 1px;
}

.button {
  position: relative;
  width: 200px;
  height: 30px;
  padding: 20px;
  border: 3px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-transition: background-color 0.15s;
  -moz-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

.button:active {
  border-bottom-color: transparent;
  margin-top: 1px;
}

.button [type=file], .button [type=submit] {
  display: block;
  visibility: hidden;
}

.choose {
  background-color: #E75D5D;
  float: left;
}

.choose:hover {
  background-color: #CC5252;
}

.choose:active {
  background-color: #F56363;
}

.send {
  float: right;
  background-color: #4A90E2;
}

.send:hover {
  background-color: #4382CC;
}

.send:active {
  background-color: #53A2FF;
}
